/*
Kolli Syam Sravya - 1002173877
Pennabadi Devipriyanka - 1002166708
Pingili Swarag Reddy - 1002158023
Rikkala Sai Maanasa - 1002147724
Bathineni Vamsi - 1002118933
*/

.main{
  margin: 0;
  padding: 0;
}

.main_table{
  width: 80%;
  margin: auto;
  background-color: rgba(234, 228, 228, 0.333);
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: 0.8rem;
}

.error{
  text-align: center;
  color: red;
}

.table td, .table th, .table{
  
  text-align: center;
  border: none;
  padding: 1rem;

}


.table_header{
  width: 100%;
  height: 10%;
  background-color: rgba(201, 199, 199, 0.267);
  padding: 0.8rem 1rem;
}

.table_body{
  width: 95%;
  max-height: 90%;
  background-color: #fffbff;
  margin: .8rem auto;
  border-radius: .6rem;
  overflow: auto;
}

.table tbody:nth-of-type(even) {
  background-color: #0000000b;
}

.body tr:hover {
  background-color: rgba(164, 159, 159, 0.4);
}

.green{
  background-color: rgb(100, 245, 100);
  padding: 10px;
  border-radius: 2rem;
  color: white;
  text-align: center;
  white-space: nowrap;
}

.red{
  background-color: rgb(248, 80, 80);
  padding: 10px;
  border-radius: 2rem;
  color: white;
  text-align: center;
  white-space: nowrap;
}

.table_header {
  background-color: #5bd85f;  
  padding: 10px;
  border-bottom: 2px solid #2e7d32; 
  border-radius: 1rem;
}

.h1{
  font-size: 1.4rem;
  border: 0;
  text-align: center; 
  color: #ffffff;
  font-weight: bold; 
  letter-spacing: 2px;
  line-height: 1.5; 
  font-family: 'Arial', sans-serif; 
}

.heading{
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: rgba(232, 79, 79, 0.879);
}

.Button{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button2{
  background-color: #0da712;
}
.button2:hover{
  background-color: #048508;
}


.input {
  width: 50%;
  margin: auto;
  background-color: #f4f4f4;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: auto;
}
.swarag{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.container {
  display: flex;
  align-items: center;
  margin-bottom: 10px; 
}

.container input[type="checkbox"] {
  margin: 0; 
  width: 20px; 
  height: 20px; 
  border-radius: 4px; 
  border: 1px solid #ccc; 
  background-color: #fff;
  cursor: pointer; 
}


.container input[type="checkbox"]:checked {
  background-color: #007bff; 
}



.container label {
  font-size: 16px; /* Adjust font size */
  margin-left: 5px; /* Add some space between checkbox and label */
  color: #333; /* Text color */
}


.input h2 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
  background-color: rgb(0, 208, 255);
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
}

.input p {
  margin-top: 20px;
}

.input input[type="text"], .textarea, .date, .time,input[type="email"], input[type="password"]{
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input label {
  display: inline-block;
  margin-left: 5px;
}

.input input[type="checkbox"] + label {
  margin-left: 10px;
}


@media(max-width: 670px){
  .input{
    width: 70%;
  }

  .button2, .button1{
    font-size: 1rem;
  }
}

@media(max-width: 550px){
  .input{
    width: 80%;
  }

  .button2, .button1{
    font-size: 1rem;
  }
}

@media(max-width: 450px){
  .input{
    width: 90%;
  }

  .button2, .button1{
    font-size: 1rem;
  }
  .heading{
    font-size: 1.5rem;
  }
  .h1{
    font-size: 1.2rem;
  }
}

@media(max-width: 375px){
  .input{
    width: 95%;
  }

  .button2, .button1{
    font-size: 1rem;
  }
  .heading{
    font-size: 1.3rem;
  }
  .h1{
    font-size: 1rem;
  }
  .input h2 {
    font-size: 1rem;
  }

  .input p, label, select, input {
    font-size: 1rem;
  }

}